* {
  all: unset;
}

.bar {
  background-color: #1e1e2e;
}

.workspaces {
  button {
    color: #6c7086;

    &:hover {
      color: #cdd6f4;
    }

    &.active {
      color: #89b4fa;
    }
  }
}

.window_title {
  color: #cdd6f4;
  font-size: 12px;
}

.clock_time {
  color: #cdd6f4;
  font-size: 12px;
  padding: 0 8px;
}
