[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.rumdl]
command = "rumdl"
args = ["server"]

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "markdown"
language-servers = ["rumdl"]
formatter = { command = "rumdl", args = ["check", "--fix", "--stdin"] }

[[language]]
name = "python"
auto-format = true
language-servers = [
  { name = "ty" },
  { name = "ruff" },
]
formatter = { command = "ruff", args = ["check", "--fix"] }

[[language]]
name = "toml"
auto-format = true
