* {
  border-radius: 0;
  border: none;
  font-family: "Hack Nerd Font Propo";
  font-weight: 200;
  margin: 0;
  min-height: 0;
  padding: 0;
}

#waybar {
  background: rgb(50, 50, 50);
  font-weight: 600;
  margin-left: 8px;
  margin-right: 8px;
}

#battery.half {
  color: #ffaa00;
}

#battery.low {
  color: #f00;
}

#battery.critical {
  animation: flash-red 0.25s infinite alternate;
}

#workspaces button {
  background: transparent;
  box-shadow: none;
  color: #fff;
  transition: box-shadow 0.25s ease;
}

#workspaces button.active {
  box-shadow: inset 0 -2px #fff;
}

#workspaces button.urgent {
  animation: flash-red 0.25s infinite alternate;
}

#workspaces button:hover {
  font-weight: 900;
}

#window {
  font-size: 12px;
  color: #fff;
}

#battery,
#bluetooth,
#clock,
#cpu,
#memory,
#mpris,
#network,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
  color: #fff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

menu {
  background: rgb(50, 50, 50);
  color: #fff;
}

tooltip {
  background: rgb(50, 50, 50);
  color: #fff;
}

tooltip label {
  padding: 4px;
}

@keyframes flash-red {
  0% {
    color: #fff;
  }
  100% {
    color: #f00;
  }
}
